body {
  background-color: royalblue;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: aliceblue;
  border: 2px solid #ccc;
  width: 550px;
  min-height: 400px;
  padding: 20px;
  margin: 100px auto;
  font-size: 24px;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

input {
  width: 310px;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid rgb(97, 20, 220);
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(223, 235, 237);
  text-align: center;
  color: black;
  outline: none;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkblue;
}

ul {
  padding: 0;
  margin-top: 20px;
}

li {
  list-style: none;
  margin: 10px auto;
  background: #e3e8ff;
  padding: 10px 15px;
  border-radius: 8px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

li.completed {
  text-decoration: line-through;
  color: gray;
  background-color: #d3d3d3;
}

li button {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

li button:hover {
  background-color: darkred;
}
